minijson.vcxproj.filters
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Debug/
Release/
Debug-Test/
doc/
Release-Test/
src/tests/test.json.cmp
src/tests/test.json.decmp
src/tests/test.json.raw
imtjson.VC.*
*.filters
src/tests/test2.json.cmp
src/tests/test2.json.decmp
CMakeCache.txt
install_manifest.txt
Makefile
CMakeFiles
cmake_install.cmake
/inst
/bin
language.settings.xml
/src/tests